.footer {
   background-color: #FCA399;
   font-family: '微軟正黑體';
   display: grid;
   grid-column: 1 / -1;
   grid-row: footer-start / footer-end;
   color: $color-white;
   
   justify-content: center;
   align-items: center;
   /* display: flex;
   flex-direction: column; */

   /* @media (min-width: $bp-large) {
      flex-direction: row;
      grid-column: 1 / -1;
   } */

   &__description {
      margin: 0 2rem;
      text-align: center;
      justify-self: center;
      align-self: center;
   }
}