.selectedNews {
   grid-row: selectedNews-start / selectedNews-end;
   grid-column: center-start / center-end;

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   grid-gap: 5rem;
   background-color: #FFD0BB;
   
}
